%h1 Welcome to Game #
%h3 Players
%table{:border => "1", :cellpadding => "5"}
  %tr
    %th Name
    %th Role
    %th Status
    %th Vote
  %tr
    %td Drix
    %td Unknown
    %td Alive
    %td
      %a{:href => "#"} Vote
  %tr
    %td Terence
    %td Lynched
    %td Mafia
    %td
      %a{:href => "#"} Vote
  %tr
    %td Shiela
    %td Unknown
    %td Alive
    %td
      %a{:href => "#"} Vote
